.header-outer-container{
   top: 0;
   align-items: center;
   background-color: transparent;
   width: 100%;
   color: white;
   transition: all 0.5s;
   transition-timing-function: ease-in;
   padding: 20px 6%;
   display: flex;justify-content: space-between;
   position: fixed;
   font-size: 14px;
   z-index: 1;
   background: black;

}
.header-container{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left{
  display: flex;
  align-items: center;
  gap:50px ;
}

.header-left img{
  width: 90px;


}
.header-left ul{
     display: flex;
     list-style: none;
     gap: 20px;
}
.header-left ul li{
     cursor: pointer;
}
.header-right ul{
     display: flex;
     list-style: none;
     gap: 20px; ;
     cursor: pointer;
}
